/* Login.css */
.input-container {
  margin-bottom: 30px;
}

.styled-input {
  width: 70%;
  height: 40px;
  border-radius: 10px;
  background-color: #D9D9D9;
  padding: 5px;
  border: none;
}

.styled-button {
  text-align: left;
  background-color: rgba(38, 108, 115, 0.50); /* Background color with 35% transparency */
  border-radius: 20px;
  color: black; /* Text color */
  font-family: 'Inter', sans-serif; /* Custom font family */
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
  border: none;
}

.styled-button:hover {
  background-color: #266C73; /* Background color on hover */
  color: white;
}

.alert.alert-danger {
  width: 70%;
}

.login-container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 20px;
  align-items: center;
  justify-content: center; /* Center the contents horizontally and vertically */
  height: 100vh;
}

.login-form {
  flex: 1;
  width: 100%;
  padding-left: 160px
}

.company-logo-container {
    background-color: #266C73;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%
  }
  
  /* Styles for the company logo image */
  .company-logo img{
    display: block; /* Make the image a block element */
    margin: 0 auto; /* Center the image horizontally */
    max-width: 36%; /* Set the maximum width to 30% of the container */
    max-height: auto; /* Ensure the image height scales proportionally */
  }
  
  /* Styles for the company text */
  .company-text {
    text-align: center; /* Center-align its children horizontally */
    font-size: 60px ;/* Adjust the font size as needed */
    font-weight:500;
    color: white; /* Text color */
  }

  .company-logo-design img {
    width: 100%; /* Set the width to 100% to take up the whole width of the container */
    max-height: auto
  }
